<h1>Your orders</h1>

<hr />

<h5>Dear Client!!! You haven't got any orders YET...</h5>
<br />

<h5>Your order is processed by our team...</h5>
<br />
<table class="table">
  <thead class="table-header">
  <tr>
    <th scope="col">Project</th>
    <th scope="col">Quantity</th>
    <th scope="col">Order Date</th>
    <th scope="col">Finish Date</th>
    <th scope="col">Delivery</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-suc">
    <th scope="row">PhotoBook</th>
    <td>1</td>
    <td>1 May, 2018</td>
    <td>25 May, 2018</td>
    <td>1-3 days</td>
  </tr>
  </tbody>
</table>

