
<div class="bootstrap-vertical-nav">

  <button class="btn btn-primary hidden-md-up" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="">Menu</span>
  </button>

  <div class="collapse" id="collapseExample">
    <ul class="nav flex-column" id="exCollapsingNavbar3">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/album">Albums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/photoCollection">Photo Collection</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/userManual">User manual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders">My orders</a>
      </li>
    </ul>
  </div>

</div>
<!--<router-outlet></router-outlet>-->

