<div class="bs-component">
  <ul class="nav nav-pills flex-column">
    <!--<li class="nav-item dropdown">-->
    <!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
    <!--<div class="dropdown-menu">-->
    <!--<a class="dropdown-item" href="#">Action</a>-->
    <!--<a class="dropdown-item" href="#">Another action</a>-->
    <!--<a class="dropdown-item" href="#">Something else here</a>-->
    <!--<div class="dropdown-divider"></div>-->
    <!--<a class="dropdown-item" href="#">Separated link</a>-->
    <!--</div>-->
    <!--</li>-->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/albums/memories']" routerLinkActive="active">My memories</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/albums/memories']" routerLinkActive="active">My photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/albums/orders']" routerLinkActive="active">My orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/albums/profile']" routerLinkActive="active">My profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/albums/userManual']" routerLinkActive="active">User manual</a>
    </li>
  </ul>
</div>
