<!--<h2>No photos? No problem.</h2>-->
<!--<h2>Add your photos here</h2>-->
<!--<p>Nullam congue, dui luctus aliquam maximus, erat magna posuere purus, posuere elementum urna nisi vitae dolor. Integer tristique non velit ut suscipit. Vestibulum quam eros, blandit dapibus iaculis nec, volutpat vel purus. Quisque commodo euismod ipsum, quis pulvinar augue. Cras non fermentum velit. Proin tincidunt lectus diam, at ornare augue interdum eget. Vivamus porttitor iaculis urna in porttitor. Maecenas auctor ac augue convallis eleifend. Praesent lacus odio, placerat sed felis ac, vulputate auctor quam. Cras in nulla eu libero cursus cursus ut a enim. Praesent varius viverra maximus. Morbi accumsan, orci quis semper tempus, leo ipsum efficitur ipsum, eu fermentum ipsum est ac nibh. Ut ut venenatis eros. Duis neque nulla, malesuada non ultrices non, laoreet nec enim. Mauris congue, ipsum non ultrices congue, leo eros tristique urna, bibendum accumsan ligula sem in justo.</p>-->
<h2>No photos? No problem.</h2>
<h2>Add your photos here</h2>
<br />
<button type="button" class="btn btn-primary"><i class="fa fa-folder-open"></i>Upload photo</button>
<br />
<br />
<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
<!--<image-upload url="https://httpbin.org/status/200" [uploadedFiles]="images"></image-upload>-->

<div class="container">
  <div class="row">
    <div class="gallery_img col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
    </div>
    <div class="gallery_img col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
    </div>
    <div class="gallery_img col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
    </div>
    <div class="gallery_img col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
    </div>
    <div class="gallery_img col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
    </div>
    <div class="gallery_img col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
    </div>
  </div>
</div>
