<header>
  <nav class="header-menu navbar navbar-light bg-light navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="header-menu__name navbar-brand" href="#">My album name</a>
      </div>
      <form class="navbar-form navbar-right" role="search">
        <button type="submit" class="btn btn-outline-primary" (click)="openAlbumOptionsPanel()">Album options</button>
        <button type="submit" class="btn btn-outline-primary">Cancel</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
      </form>
    </div>
  </nav>
</header>
