<section class="album-canvas jumbotron jumbotron-fluid my-0">
  <div class="album-canvas__container container-fluid h-100">
  
    <!-- <h1 class="display-4">Edit your album</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
    
    <div class="row align-items-center h-100">
      <div class="col-6 album-canvas__page album-canvas__page--left h-100">
      
        <div class="slot">
        
          
        
        </div>
        
        
      </div>
      <div class="col-6 album-canvas__page album-canvas__page--right h-100">
      
      </div>
    </div>
  </div>
</section>
