<h1>Sign In</h1>

<hr />
<div class="col-sm-8 offset-sm-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        placeholder="Enter Email"
        formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Enter Password"
        formControlName="password">
    </div>
    <button
      class="btn btn-primary col-sm-8 offset-sm-3"
      type="submit"
      [disabled]="!myForm.valid">Login</button>
  </form>
</div>
