.bg-dark {
  background-color: #F3969A !important;
}
.btn.btn-auth {
  margin-left: 0.5rem;
}
.auth-menu {

}
.dropdown-menu li {
  font-size: 1em;
}
.dropdown-item:hover {
  background-color: #878c91;
}
