<div class="col-xs-12 home-content">
  <carousel [interval]="myInterval">
    <slide>
      <img class="img-main-carousel" src="assets/images/h1.jpg" alt="first slide">
      <br />
      <br />
      <br />
      <div class="carousel-caption d-none d-md-block">
        <br />
        <br />
        <h3 class="text-sm-center">Make your own portfolio</h3>
        <button type="button" class="btn btn-secondary">Order now</button>
        <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/h2.jpg" alt="second slide">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="carousel-caption d-none d-md-block text-sm-center">
        <h3>Save family memories</h3>
        <p>Make a photo book and enjoy it</p>
        <button type="button" class="btn btn-secondary">Order now</button>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/h3.jpg" alt="third slide">
      <div class="carousel-caption d-none d-md-block">
        <!--<button type="button" class="btn btn-secondary">Order now</button>-->
        <!--<h3>Spend time with dear people</h3>-->
        <!--<p>Make a photo book and enjoy it</p>-->
      </div>
    </slide>
  </carousel>
</div>
