<div class="col-sm-12 home-content">
  <carousel class="text-sm-right" [interval]="myInterval">
    <slide>
      <img class="img-main-carousel" src="assets/images/pb1.jpg" alt="first slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Family moments</h3>
        <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/ph4.jpg" alt="second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Save trip memories</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/ph3.jpg" alt="third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Make your own portfolio</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
</div>
