<div class="container-prices">
  <h1>Prices</h1>
  <br />
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Pages</th>
      <th scope="col">Mini(21x15)</th>
      <th scope="col">Regular(21x30)</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active">
      <th scope="row">Handmade</th>
      <td>20</td>
      <td>400 MDL</td>
      <td>650 MDL</td>
    </tr>
    <tr>
      <th scope="row">Handmade</th>
      <td>25</td>
      <td>500 MDL</td>
      <td>849 MDL</td>
    </tr>
    <tr>
      <th scope="row">Printed</th>
      <td>20</td>
      <td>375 MDL</td>
      <td>550 MDL</td>
    </tr>
    <tr>
      <th scope="row">Printed</th>
      <td>25</td>
      <td>450 MDL</td>
      <td>749 MDL</td>
    </tr>
    </tbody>
  </table>
</div>

