<div class="container-about">
  <h1>Who we are?</h1>

  <hr />
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <p class="company-info">We are <strong>PhotoBook</strong> team. Our company's objectives are to help you to save your memories in a physical/digital album,
        share with your friends and family. Enjoy the life and save the feelings of some moments. We want to remind
        you to rest, to meet and communicate with other people, to not forget about friends and important
        people from your life. We need to enjoy the little things from our lives and we can keep them in
        some photos. </p>

      <p>You can use our service of making a photo book and printing it. We guarantee quality services at a high level and the shortest time of delivery.</p>
      <br />
      <h5 class="text-sm-center">Do you want a photo book? Contact us, every time, 24/24 on:</h5>
      <br />
      <div class="container-contacts">
        <div class="row">
          <div class="col-sm-1"><i class="fa fa-mobile" style="font-size:36px"></i></div>
          <div class="col-sm-4"><p>Phone: 069856826</p></div>
        </div>
        <div class="row">
          <div class="col-sm-1"><i class="fa fa-envelope" style="font-size:36px"></i></div>
          <div class="col-sm-4"><p>Email: memorybook@gmail.com</p></div>
        </div>
        <div class="row">
          <div class="col-sm-1"><i class="fa fab fa-skype" style="font-size:36px"></i></div>
          <div class="col-sm-4"><p>Skype:memorybookMD</p></div>
        </div>
      </div>

    </div>
  </div>

  <hr />
  <!--<h3 class="qoute">Live the life you will remember...</h3>-->
  <h3 class="qoute">Photography is a way of feeling, of touching, of loving. It remembers little things, long after you have forgotten everything.</h3>
</div>

