body {
  padding: 0 2em;
}

h1 {
  text-align: center;
  color: #78C2AD;
}

h3.qoute {
  color: #F3969A;
  text-align: center;
  font-style: italic;
  padding-left: 2em;
  padding-right: 2em;
}

.container-about {
  padding: 1em;
}
ul {
  list-style: none;
}
.container-contacts p {
  font-size: 1.2em;
}
