.button {
  background-color: #d6ece6;
  /*border: none;*/
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  border-color: #3c6156;
  width: 150px;
  height: 150px;
}
h5 {
  font-style: italic;
}
.container-manual{
  padding-top: 4em;
  padding-left: 3em;
}
.arrow-right {
  font-size: 36px;
  padding-top: 1.5em;
  color: #3c6156;
}
.col-sm-2 {
  padding: 0px !important;
}
.info-add-comment, .info-make-photo,
.info-upload-photo, .info-order-book,
.info-enjoy {
  padding-right: 2em;
  padding-left: 2em;
  /*color: #613c47;*/
  color: #325148;
}
.info-make-photo {
  padding-top: 2em;
}
